/* for testing */
.container * {
    border: 2px solid #39BAE6;
    border-radius: 5px;
    justify-content: center;
}

* {
    font-family: "NotoSans Nerd Font", Consolas, sans-serif;
}

html, body {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;

    margin: 0;
    background: #0B0E14;
}

body > * {
    margin: 1em;
}

.container {
    flex-grow: 5;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    overflow: auto;
    color: white;
}

.container > * {
    padding: 1em;
}

header {
    display: flex;
    justify-content: center;
    gap: 1em;
}

footer {
    display: inline-flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 1em;

    font-size: 12px;
    background: #E6B450;
    color: #0D1017;
}